.anchorPane{
    -fx-background-color: linear-gradient(to right bottom, #743484, #247aaf );
}

.pane1{
    -fx-background-color: #8a35b4;
    -fx-background-radius: 20 20 20 20;
}

.pane2{
    -fx-background-color: #743484;
    -fx-background-radius: 20 0 0 20;
}

